.title{
  text-align: center;
  color: #c69214;
}

.search-bar{
  border-radius: 10px;
}

.search-wrapper{
  padding-top: 10px;
  padding-left: 27%;
}

button{
  
}

body {
  background-color: #154734;
  border: 5px solid #c69214;
  padding: 10px;
}

html
{
    width: 300px; /* max: 1000px */
    height: 200px; /* max: 750px */
}




/* 198, 146, 20 */